body {
    text-align: center;
    background: linear-gradient(#e3fc00 0%, #00fff2 100%);
}

img {
    width: 40%;
    height: 200px;
}

.line {
    height: 5px;
    background-color: lawngreen;
    width: 75px;
    margin: 8px auto;
}
